@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy.woff") format("woff");
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Gilroy", serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
}

.logo {
  padding: 17px 30px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav__item {
  padding-right: 30px;
}

.nav--dropdown {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #fff;
  background-image: url(../images/down-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  border-radius: 50%;
  background-color: #2980B9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd
}

.show {
  display: block;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.nav__item--vision {
  padding: 13px 15px 11px 51px;
  background-color: #00868a;
  text-transform: uppercase;
  position: relative;
}

.nav__item--vision::before {
  content: '';
  width: 26px;
  height: 22px;
  background-image: url(../images/eye.svg);
  position: absolute;
  left: 15px;
  top: 12px;
}

.nav__item--vision a {
  color: #fff;
}

.hero {
  background-color: #4fbfa5;
  margin-bottom: 80px;
}

.hero__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.hero__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 65px;
}

.hero__menu-list:first-child {
  margin-left: 30px;
}

.hero__menu-link {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: none;
}

.hero__reserved {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-decoration: none;
  padding: 10px 15px;
  background-color: #fff;
  border-color: transparent;
}

.hero__desc {
  color: #fff;
}

.hero__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
}

.hero__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  max-width: 416px;
  margin-bottom: 40px;
}

.hero__link {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 25px;
  background-color: #00868a;
}

.hero__slider {
  position: relative;
}

.slider-container {
  position: relative;
  width: 746px;
  height: 533px;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  transition: all .25s ease-in-out;
}

.hero__photo {
  width: 746px;
  height: 533px;
}

.hero__btn {
  padding: 25px 30px;
  border: 1px solid #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  bottom: 60px;
}

.hero__btn--left {
  background-image: url(../images/slider/arrow-left.svg);
  left: -180px;
  border-right: none;
}

.hero__btn--right {
  background-image: url(../images/slider/arrow-right.svg);
  left: -120px;
}

.hero__block:last-child {
  padding-top: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.hero__categories {
  font-weight: 500;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.hero__categories:nth-child(odd) {
  background-color: #00868a;
}

.hero__categories a {
  text-decoration: none;
  color: #fff;
}

.aesthetic {
  margin-bottom: 80px;
}

.aesthetic__inner {
  display: flex;
  gap: 134px;
  align-content: center;
  position: relative;
}

.innovations {
  color: #fff;
  background: #00868a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innovations__title {
  width: 125px;
  margin: 35px 0 30px 40px;
}

.subtitle {
  display: inline-block;
  color: #fff;
  background-color: #4fbfa5;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 9px 15px 10px;
}

.innovations__text {
  font-size: 30px;
  line-height: 45px;
  width: 485px;
  margin-left: 40px;
  margin-bottom: 33px;
}

.innovations__link {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 40px;
  margin-bottom: 53px;
  padding-left: 70px;
  position: relative;
}

.innovations__link::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -20px;
  width: 50px;
  height: 40px;
  background-image: url(../images/aesthetic/arrow-link.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.innovations__img {
  max-width: 100%;
}

.numbers {
  display: flex;
  flex-direction: column;
}

.numbers__title {
  width: 186px;
  margin: 35px 0 30px 40px;
}

.numbers__list {
  z-index: 10;
}

.numbers__item {
  color: #b3b3b3;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
  transition: all .2s ease-in-out;
}

.numbers__item:hover .number {
  font-size: 96px;
  line-height: 144px;
  color: #00868a;
  transition: all .5s ease-in-out;
}

.numbers__item:hover .text {
  width: 319px;
  color: #000;
  font-size: 28px;
  line-height: 42px;
  transition: all .5s ease-in-out;
}

.number {
  font-size: 48px;
  line-height: 72px;
}

.text {
  width: 144px;
  font-size: 14px;
  line-height: 21px;
}

.certification {
  position: absolute;
  top: 100px;
  right: 0px;
}

.news {
  margin-bottom: 100px;
}

.news__inner {
  display: flex;
}

.news__global {
  background-color: #4fbfa5;
  /* should change? */
  min-width: 526px;
  /* should change? */
}

.news__title {
  background-color: #00868a;
  margin: 35px auto 40px 40px;
}

.news__item {
  background-color: #4fbfa5;
}

.news--current {
  background-color: #00868a;
}

.news__link {
  display: inline-block;
  padding: 35px 40px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  text-decoration: none;
}

.news__content {
  background-color: #e6f3f4;
}

.news__content-title {
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.news__content-list {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 78px;
}

.news__content-item {
  font-size: 14px;
  line-height: 21px;
  padding-left: 21px;
  margin-bottom: 15px;
  position: relative;
}

.news__content-item::before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #00868A;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 8px;
}